h1, h2, h3 { 
	text-align: center;
} 

.main-bg > .row {
	margin-top: 0;
	margin-bottom: -1px;
	margin-left: -9999px;
	margin-right: -9999px;
	padding-left: 9999px;
	padding-right: 9999px;
}

.main-bg > .row:nth-child(1) {
	margin-bottom: -1px;
}


.main-bg > .row:nth-child(4),
.main-bg > .row:nth-child(7) {
	border-spacing: 2em 0.5em;
	background: url(//li3.cdbcdn.com/oh/22e289ad-2b71-4296-9e7f-05cbe9bf087e.png);
	text-align: center;
}


.main-bg > .row:nth-child(2), 
.main-bg > .row:nth-child(3) {
	background: #044358;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}

.main-bg > .row:nth-child(2) {
	padding-top: 1em;
}

.main-bg > .row:nth-child(2) h2 {
	font-size: 30px;
	color: white;
	margin: 0;
}

.main-bg > .row:nth-child(3) {
    padding-bottom: 1em;
}

.main-bg > .row:nth-child(3) .search .search-container {
    background: inherit;
    padding: 0.4em;
    margin: 0.4em;
}

.main-bg > .row:nth-child(4) .search .search-container form {
	text-align: center;
}

.search .search-datepicker, 
.search .search-location, 
.search .search-people, 
.search .search-submit {
    float: inherit;
    display: inline-block;
}


.main-bg > .row:nth-child(4):before, 
.main-bg > .row:nth-child(5):before,
.main-bg > .row:nth-child(7):before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 21px 0 21px;
    border-color: #fafafa transparent transparent transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-bg > .row:nth-child(5) {
    background: #0788b3;
    margin-bottom: -30px;
}
.main-bg > .row:nth-child(6) {
    background: #0788b3;
    padding-bottom: 1.5em;
}

.main-bg > .row:nth-child(5) h1 {
	color: #fff;
	font-size: 64px;
	margin: 0;
}

.main-bg > .row:nth-child(4) .col-md-1, 
.main-bg > .row:nth-child(4) .col-md-10, 
.main-bg > .row:nth-child(4) .col-md-11, 
.main-bg > .row:nth-child(4) .col-md-12, 
.main-bg > .row:nth-child(4) .col-md-2, 
.main-bg > .row:nth-child(4) .col-md-3, 
.main-bg > .row:nth-child(4) .col-md-4, 
.main-bg > .row:nth-child(4) .col-md-5, 
.main-bg > .row:nth-child(4) .col-md-6, 
.main-bg > .row:nth-child(4) .col-md-7, 
.main-bg > .row:nth-child(4) .col-md-8, 
.main-bg > .row:nth-child(4) .col-md-9 {
	float: none;
	vertical-align: top;
	display: inline-block;
}

.main-bg > .row:nth-child(4) .col-xs-5 {
    margin: 2% !important;
}

@media (max-width: 768px) {

	.main-bg > .row:nth-child(4) .col-md-2,
	.main-bg > .row:nth-child(4) .col-xs-5 {
		width: 45.66666667%;
	}

	.main-bg > .row:nth-child(4) .icon {
		font-size: 20pt !important;
	}

	.main-bg > .row:nth-child(4) {
		font-size: 90%;
		line-height: 1.5;
	}
}

@media (max-width: 600px) {
	.main-bg > .row:nth-child(4) .col-md-2,
	.main-bg > .row:nth-child(4) .col-xs-5 {
		width: 96%;
	}
}

@media (min-width: 768px) {
	.main-bg > .row:nth-child(4) .col-md-2,
	.main-bg > .row:nth-child(4) .col-sm-5 {
		width: calc(41.66666667% - 2em);
	}
}

@media (min-width: 992px) {
	.main-bg > .row:nth-child(4) .col-md-2, 
	.main-bg > .row:nth-child(4) .col-md-4 {
		width: calc(33.33333333% - 3em);
	}
}

.main-bg > .row:nth-child(4):before {
	border-top-color: #044358;
}
.main-bg > .row:nth-child(7):before {
	border-top-color: #0788b3;
}

.main-bg > .row:nth-child(4) .icon {
  display: inline-block; 
  font-size: 40pt;
}

.main-bg > .row:nth-child(4) h3 {
	margin-top: 5px;
}

.main-bg > .row:nth-child(4) [class*="col-"] {
    border: 1px solid rgba(0,0,0,0.15);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	margin: 2em;
}

.main-bg > .row:nth-child(4) [class*="col-"] .widget-content {
    padding: 1em !important;
    padding-top: 0 !important;
    padding-bottom: 5px !important;
	text-align: center;
    margin-top: 1em;
}

.main-bg > .row:nth-child(4) [class*="col-"] .widget-content p {
	text-align: justify;
}


.featuredproperties {
	padding: 0;
}

.featuredproperties h2 {
    display: none;
}

.featuredproperties [class*="col-"] {
    margin-top: 1em;
    background: white;
    border: 1em solid #0788b3;
    padding: 1em;
}

.featuredproperties .featured {
  margin-bottom: 0;
}

.featuredproperties .featured .place {
  display: none;
}